/* Style Global */
@gk
* {
    margin: 0;
    padding: 0px;
}

body {
    background: #ffffff;
    margin: 0;
    height: 100%;
    color: #384452;
    font-family: sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, H5, H6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p {
    padding: 0;
    margin-bottom: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #384452;
    margin-top: 10px;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear;
    transition: background-color .4s linear, color .4s linear;
}

    a:hover,
    a:focus {
        text-decoration: none;
        color: rgba(195, 197, 198, 0.87);
    }

::moz-selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}

.centered {
    text-align: center;
}

/* Style Navigation */

.navbar {
    min-height: 70px;
    padding-top: 10px;
    margin-bottom: 0px;
   

}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.navbar-header .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: 700;
    font-size: 15px;
}

    .navbar-default .navbar-nav > li > a:hover {
        color: rgba(172, 186, 191, 0.82);
    }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: rgba(172, 186, 191, 0.82);
    background: transparent;
}

.navbar-default {
    background-color: #384452;
    border-color: transparent;
}
nav.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color:darkgray !important;
}
.nav-link {
    color: rgba(165, 1, 45, 0.57) !important;
}
footer {
    background-color: darkgray !important;
}
/* Style Introduction */

#Introduction {
  /*  background: url(../img/intro.png) no-repeat center top;*/
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 700px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
}

    #Introduction h1 {
        margin-top: 150px;
        color: white;
        font-size: 50px;
        font-weight: 700;
    }

    #Introduction h3 {
        color: white;
        font-size: 30px;
        font-weight: 100;
        font-family: 'Raleway', sans-serif;
        font-style: oblique;
    }

/* Style bouton */

.btn-theme {
    color: #fff;
    background-color: #384452;
    border-color: #384452;
    margin: 4px;
}

    .btn-theme:hover,
    .btn-theme:focus,
    .btn-theme:active,
    .btn-theme.active,
    .open .dropdown-toggle.btn-theme {
        color: #fff;
        background-color: #FCAC45;
        border-color: #ffffff;
    }

/* Style About */

#f {
    background: #384452;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

    #f h3 {
        color: white;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 1px;
    }

    #f icon {
        font-size: 8px;
        color: #fff;
        padding: 3px;
    }

    #f p {
        font-size: 20px;
        color: #f2f2f2;
    }

    #f img {
        tex-align: center;
    }

/* Compétences */

#Competences {
    padding: 80px 0;
}

.espace {
    margin-top: 40px;
}

#Competences i.fa {
    font-size: 40px;
    border: solid #FCAC45 4px;
    width: 100px;
    height: 100px;
    padding: 27px 25px;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: all 0.5s;
}

    #Competences i.fa.fa mobile {
        font-size: 50px;
        padding: 20px 25px;
    }

#Competences .Service:hover > i.fa {
    background: #FCAC45;
    color: #ffffff;
}